.sidebar {
  width: 220px;
  background: #fff;
  border-right: 1px solid #eee;
  padding-top: 24px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav li {
  padding: 18px 24px;
  color: #666;
  font-weight: 600;
}

.sidebar nav li.active {
  border-left: 4px solid #e0a10f;
  background: #fff9f0;
  color: #222;
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}

